<!DOCTYPE html>
<meta charset="utf-8">
<link href="media/nvd3/src/nv.d3.css" rel="stylesheet" type="text/css">
<head>
	<meta charset="UTF-8">
	<title>About - Zerotype Website Template</title>
	<link rel="stylesheet" href="media/css/style.css" type="text/css">
</head>
<style>
body {
  overflow-y:scroll;
}

text {
  font: 12px sans-serif;
}
.mypiechart {
  width: 500px;
  border: 2px;
}
</style>
<body class='with-3d-shadow with-transitions'>
	<div id="header">
		<div id="headerbox">
			<div class="logo">
				<a href="index.html">Zero Type</a>
			</div>
			<div id= "navigation_container">	
				<div id="search_bar">
					<div id="search_bar_content" >
						<div id="searchframe">
						    <form id="btn_subfrom" method="get" name="btn_subfrom" action="/was5/web/search" target="_blank">
						      <div class="ilb js_il_box">
						        <input type="text" name="searchword" id="header_search_kw" autocomplete="off" />
						        <input type="button" value="search" class="button_add" />
						      </div>
						    </form>
						</div>
						<a id="login" href="{{navigation_link1}}" class="textem" style="float: left">&nbsp &nbsp {{navigation_label1}} &nbsp </a>
						<a style="float: left">/</a>
						<a id="register" href="{{navigation_link2}}" class="textem" style="float: left">&nbsp {{navigation_label2}} &nbsp </a>
					 </div>
				</div>
				<div id="navigation">
					<div class ="navigationitem">
						<a href="index.html">Home</a>
					</div>
					<div class ="navigationitem">
						<a href="features.html">Features</a>
					</div>
					<div class ="navigationitem">
						<a href="news.html">News</a>
					</div>
					<div class ="navigationitem">
						<a href="about.html">About</a>
					</div>
					<div class ="navigationitem">
						<a href="contact.html">Contact</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="mycontents">
		<div id="menucontainer" style="	background-color:#EEEEEE;height:500px;width:200px;float:left;">
			<ul id="mymenu">
				<li>
					<b>Sensors</b>
				</li>
				<li>
					<a href="temperature.html">Temperature</a>
				</li>
				<li>
					<a href="humidity.html">Humidity</a>
				</li>
				<li>
					<a href="wireless_switch.html">Wireless Switch</a>
				</li>
				<li>
					<a href="infrared_sensor.html">Infrared Sensor</a>
				</li>
			</ul>
		</div>
		<div id="content" style="background-color:#FFFFFF;height:500px;width:1007px;float:middle;padding:0px 0px;">
			<h2>Infrared Sensor</h2>
			<svg id="test1" class="mypiechart"></svg>
			<script src="media/nvd3/lib/d3.v3.js"></script>
			<script src="media/nvd3/nv.d3.js"></script>
			<script src="media/nvd3/src/models/legend.js"></script>
			<script src="media/nvd3/src/models/pie.js"></script>
			<script src="media/nvd3/src/models/pieChart.js"></script>
			<script src="media/nvd3/src/utils.js"></script>
			<script>
		    nv.addGraph(function () {
		        var chart = nv.models.discreteBarChart();
		        chart.color(d3.scale.category10().range());
		        chart.xAxis
		        chart.yAxis
		        chart.tooltipContent(function (key, y, e, graph) {
		            var x = String(graph.point.x);
		            var y = String(graph.point.y);
		            if (key == 'Serie 1') {
		                var y = String(graph.point.y) + ' cal';
		            }
		            tooltip_str = '<center><b>' + key + '</b></center>' + y + ' at ' + x;
		            return tooltip_str;
		        });
		        d3.select('#test1')
		            .datum(data_discreteBarChart)
		            .transition().duration(500)
		            .attr('height', 400)
		            .call(chart);

		        return chart;
		    });
		    data_discreteBarChart = [{
		        'values': [{
		            'y': 3,
		                'x': 'A'
		        }, {
		            'y': 12,
		                'x': 'B'
		        }, {
		            'y': -10,
		                'x': 'C'
		        }, {
		            'y': 5,
		                'x': 'D'
		        }, {
		            'y': 35,
		                'x': 'E'
		        }, {
		            'y': -7,
		                'x': 'F'
		        }, {
		            'y': 2,
		                'x': 'G'
		        }],
		            'key': 'Serie 1',
		            'yAxis': '1'
		    }];
			</script>
				
		</div>
	</div>
	<div id="footer">
		<div id="footerbox">
			<div class="clearfix">
				<div id="connect">
					<a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a><a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a><a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a><a href="http://www.freewebsitetemplates.com/misc/contact/" target="_blank" class="tumbler"></a>
				</div>
				<p>
					© 2023 Zerotype. All Rights Reserved.
				</p>
			</div>
		</div>
	</div>
