<!DOCTYPE HTML>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Contact - Zerotype Website Template</title>
	<link rel="stylesheet" href="/media/css/style.css" type="text/css">
</head>
<body>
	<div id="header">
		<div id="headerbox">
			<div class="logo">
				<a href="index.html">Zero Type</a>
			</div>
			<div id= "navigation_container">	
				<div id="search_bar">
					<div id="search_bar_content" >
						<div id="searchframe">
						    <form id="btn_subfrom" method="get" name="btn_subfrom" action="/was5/web/search" target="_blank">
						      <div class="ilb js_il_box">
						        <input type="text" name="searchword" id="header_search_kw" autocomplete="off" />
						        <input type="button" value="search" class="button_add" />
						      </div>
						    </form>
						</div>
						<a id="login" href="login.html" class="textem" style="float: left">&nbsp &nbsp &nbsp Login&nbsp </a>
						<a style="float: left">/</a>
						<a id="register" href="register.html" class="textem" style="float: left">&nbsp register &nbsp </a>
					 </div>
				</div>
				<div id="navigation">
					<div class ="navigationitem">
						<a href="index.html">Home</a>
					</div>
					<div class ="navigationitem">
						<a href="features.html">Features</a>
					</div>
					<div class ="navigationitem">
						<a href="news.html">News</a>
					</div>
					<div class ="navigationitem">
						<a href="about.html">About</a>
					</div>
					<div class ="navigationitem">
						<a href="contact.html">Contact</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="contents">
		<div class="section">
			<h1>Log in your account</h1>
			<p>
				We make your home smarter
			</p>
			<form action="login.html" method="post" class="message">
				{% csrf_token %} 
			    {{ form.non_field_errors }}
				<div class="RegisterEntry">
					{{ form.UserOrEmail.errors }}
				    <div class="Registerlabel">
			        	<label for="id_UserOrEmail">Username &nbsp / &nbspEmail Address</label>
					</div>
					<div class="RegisterField">	
			        {{ form.UserOrEmail }}
					</div>
			    </div>
				<div class="RegisterEntry">
			        {{ form.Password.errors }}
				    <div class="Registerlabel">
			        	<label for="id_Password">Password</label>
					</div>
					<div class="RegisterField">	
			        {{ form.Password }}
					</div>
			    </div>
			    <p><input type="submit" value="Submit" /></p>
			</form>
		</div>
	</div>
	<div id="footer">
		<div id="footerbox">
			<div class="clearfix">
				<div id="connect">
					<a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a><a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a><a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a><a href="http://www.freewebsitetemplates.com/misc/contact/" target="_blank" class="tumbler"></a>
				</div>
				<p>
					© 2023 Zerotype. All Rights Reserved.
				</p>
			</div>
		</div>
	</div>
</body>
</html>